{
  "presets": [
    "next/babel",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    [
        "module-resolver",
        {
            "root": ["."],
            "alias": {
                "@components": "./components",
                "@public": "./public"
            }
        },
    ],
    [
      "styled-components", { "ssr": true }
    ]
  ]
}
